.container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 300px;
    padding: 50px;
    margin: 20px;
    margin: auto;
}

.stars {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-right: 10;
}

input[type="radio"]{
    display: none;
}
